body {
    background-color: rgb(142, 190, 238);
    margin: 0;
}

header {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: aliceblue;
}

header .navbar {
    width: 95%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

header #logo {
    width: 5%;
    height: auto;
}

header ul li {
    list-style-type: none;
}

main h1 {
    width: 100%;
    text-align: center;
    color: rgb(0, 0, 0);
}

main p {
    width: 60%;
    margin: 50px auto;
    text-align: center;
}

main .table {
    width: 30%;
    margin: auto;
    border-collapse: collapse;
    border: 2px solid rgb(140 140 140);
}

main .table th, 
main .table td {
    text-align: center;
    padding: 10px;
    border: 1px solid rgb(140 140 140);
}

main .table .thead tr th {
    background-color: powderblue;
}

main .table .students, main .table .score {
    background-color: lavender;
}